{% extends 'main/layouts.html' %}


{% block body %}
<div id="nav-container" class="container top-bar article-top-bar">
            <div class="navbar" align="right">
            <div id="home" >
                <a id="right-button" href="/" class="btn btn-small btn-primary">Home</a>
            </div>
        </div>
        </div>
<div class="container article-content-inner">
    <div class="container-fluid" style="background: url({{header_image}})">
        <div id="primary" class="row">
            <div class="col-lg-8">
                <div id="article-headline" class="jumbotron" align="center">
                    <h1>{{article.headline}}</h1>
                    <br>
                    <h6>Written By:</h6>
                    <h5>{{author}}</h5>
                </div>
                <div id="content" class="card border" align="left">
                    {{article.body|safe}}
                </div>
            </div>
            <div id="sidebar" class="col-lg-4 border border-dark">
                <div id="quotes">
                    <table id="reloadable" class="table table-hover table-dark">
                          <thead class="thead">
                            <tr>
                              <th scope="col"></th>
                              <th scope="col">Company</th>
                              <th scope="col">Symbol</th>
                              <th scope="col">Value</th>
                            </tr>
                          </thead>
                        <tbody>
                            {% for quote in quotes %}
                                <tr>
                                  <th scope="row"></th>
                                  <td>{{quote.CompanyName}}</td>
                                  <td>{{quote.Symbol}}</td>
                                  <td>
                                      <a href="https://www.fool.com/quote/{{quote.Exchange}}/{{quote.SeoName}}/{{quote.Symbol}}/">
                                        {{quote.ClosePrice.Amount}} ({{quote.CurrencyCode}})
                                      </a>
                                  </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div align="center">
                        <button id="reload-quotes" class="btn btn-primary">
                            Shuffle Quotes
                        </button>
                    </div>

                </div>
                <div class="container">
                    <form action="/addcomment" method="post">
                        {% csrf_token %}
                        <input type="text" name="comment">
                        <button id="submit-comment" class="btn btn-primary" type="submit">Comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% load static %}
<script src="{% static 'main/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'main/js/article.js' %}"></script>
{% endblock %}

<!--{% for quote in quotes %}-->
<!--<p>{{quote.Symbol}} | {{quote.ClosePrice.Amount}} ({{quote.CurrencyCode}})</p>-->
<!--{% endfor %}-->