{% extends 'main/layouts.html' %}

{% block body %}
<body>
    <div class="container content-inner">
        <div id="primary-article" class="container-fluid" style="background-image: url({{primary_image}}">
            <div id="jumbotron-primary" class="jumbotron">
                <div class="container" align="center">
                    <h1>
                        {{ primary.headline }}
                    </h1>
                    <h5 align="center">
                        {{primary.promo}}
                    </h5>
                    <br>
                    <div align="center">
                        <a href="/articles/a/{{primary.uuid}}">
                        <button type="button" class="btn btn-outline-dark">
                            Read More
                        </button>
                    </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="card-box" class="card">
            {% for article in secondary %}
            <div id="card-container" class="card border-dark" style="width: 18rem;">
                <div id="cards" class="card-body">
                    <div class="container">
                        <img class="card-img-top" src="{{article.primary_image}}">
                    </div>
                    <br>
                    <h4 class="card-title" align="center">
                        {{ article.headline }}
                    </h4>
                    <p class="card-text" align="center">
                    </p>
                </div>
                <div align="center">
                    <a href="/articles/a/{{article.uuid}}">
                    <button type="button" class="btn btn-outline-dark">
                        Read More
                    </button>
                </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
