<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
     initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="main/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="main/css/bootstrap_override.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Foolish Articles</title>
</head>
{% block body %}
<body>
    <div class="jumbotron" align="center">
        {% block primary %}
        {% endblock %}
    </div>
    <div class="containter">
        <div class="container content-inner" align="center">
            {% block secondary %}
            <h4>Nothing Added</h4>
            {% endblock %}
        </div>
    </div>
</body>
{% endblock %}
</html>